body{
    background-color: #1E1E1E;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
}
.bg-dark-01{
  
    background-color: #1E1E1E;
}

h1, .h1, h3 , .h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    margin: 0 0 1.25rem 0;
    color: #EEA66B;
    text-transform: uppercase;
  }

  h1, .h1, h3 , .h3  {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem; 
  
  }

  h2, .h2, h4 , .h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0 0 1.25rem 0;
    color: #ffffff;
  }
  h2, .h2, h4 , .h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
  }

  h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0 0 1.25rem 0;
    color: #EEA66B;
  }

  h5{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
  
  }

  h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0 0 1.25rem 0;
    color: #EEA66B;
  }

  h6{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
  }

  p{ 
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0 0 1.25rem 0;
    color: #ffffff;
    text-align: justify;

  }

  p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  span{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    margin: 0 0 1.25rem 0;
    color: #FFFF;
  }

  a {
    text-decoration: none;
  }

  .barra {
    padding-top: 4rem;
    padding-bottom: 4rem;
    
  }
  