.btn-ver_mas {
    color: #fff;
    background-color: #1E1E1E;
    border-color: #fff;
    color: #EEA66B;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 10px;
  }
  .p-subtitle{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    margin: 0 0 1.25rem 0;
    color: #EEA66B;
  
  }
  
  .p-subtitle{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
  }

  .libro-img{
    border-radius: 3.3rem!important;
    width: auto;
    height: 40rem;
  }
  

  .option_01 {
    border-radius: 3.3rem!important;
    background-image: url(../images/Cat.292-Mujer-Saliendo-del-Psicoanalista-1960-2.webp);
    background-color: #EEA66B;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 20rem;
  }
  

  .option_01:hover{
    scale: 1.1;
  }
  .ShopWindow{
    width: 5.5rem;
  }
  
  .option_02:hover{
    scale: 1.1;
  }
  
  .option_03:hover{
    scale: 1.1;
  }
  .option_04:hover{
    scale: 1.1;
  }
  
  .option_05:hover{
    scale: 1.1;
  }
  .option_02{
    border-radius: 3.3rem!important;
    width: auto;
    height: 20rem;
    background: #EEA66B;
  
  }

  .option_03{
    border-radius: 2.3rem!important;
    background-image: url(../images/Remedios-Varo-Junto-a-la-obra-Retrato-de-Los-Ninos-Villasenor-1956-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 8rem;
  
  }
  .option_04{
    border-radius: 2.3rem!important;
    background-image: url(../images/libros-remedios-varo-los-años-en-méxico.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 8rem;
  
  }

  .option_05 {
    border-radius: 3.3rem!important;
    background-image: url(../images/Cat.289-Nacer-De-Nuevo-1960-1.webp);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    width: auto;
    height: 30rem;
  }
  
  .option_06 {
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.342-Lécole-buissonnière-1962-2.webp);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    width: auto;
    height: 30rem;
  }

  .option_07 {
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.287-Nave-astral-1960-1.webp);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    width: auto;
    height: 30rem;
  }
  

  .obra_01{
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.73-Laboratorio-1947-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 30rem;
  }
  
  .obra_02{
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.359-Fenómeno-De-Ingravidez-1963-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 30rem;
  }

  .obra_03{
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.306-La-Huída-1960-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 30rem;
  }
  
  .obra_04{
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.298-Planta-1960-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 30rem;
  }

  .obra_05{
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.313-Astro-Errante-1961-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 30rem;
  }
  
  .obra_06{
    border-radius: 2.3rem!important;
    background-image: url(../images/Cat.53-Torre-Centauro-1953-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 30rem;
  }
  .img-bio{
    border-radius: 2.3rem!important;
    background-image: url(../images/images.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 10rem;
  
  }
  .bg-portada-01{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
  }
  
  .card-body-obra {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #EEA66B;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  
  
  a.cat-btn {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    color: #EEA66B;
    border: 2px solid #EEA66B;
    padding: 8px 33px;
    border-radius: 2rem;
    font-size: 1rem;
    
  }
  
  a.cat-btn:hover{
    color: #fff;
    background-color: #EEA66B;
    scale: 1.1;
  }

  a.shop-btn {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    color: #EEA66B;
    border: 2px solid #EEA66B;
    padding: 15px 60px;
    border-radius: 2rem;
    font-size: 2rem;
    
  }
  
  
  
  a.decade-btn{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    color: #1E1E1E;
    background-color: #EEA66B;
    padding: 12px 45px;
    border-radius: 1rem;
    font-size: 1rem;
  
  }

  a.decade-btn:hover{
    color: #fff;
    background-color: #e99c5d;
    scale: 1.1;
  
  }
  
  
  
  .flex-button-01{
    display: flex;
    justify-content: end;
  }
  